@{
    Page.Title = "Title goes here";
    Layout = "~/Site/_LayoutHome.cshtml";
}

<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>ارتباط آنلاین</h2>
                <p>
                    ...باسلام
                    برای ارتباط و هم فکری های اعضا با مدیران سایت و همچنین  سوالات در رابطه با
                    نحوه تکمیل سفارشات ونیز سهولت مکالمه مستقیم با مدیران اعضای محترم میتوانند
                    :از راه های زیر نیز به سلیقه خود استفاده نمایند
                    <br /><br /><br /><br />


                </p>
                <a href="#" class="btn btn-default add-to-cart"><i></i>b.behzad_92@yahoo.com</a><br />
                <a href="#" class="btn btn-default add-to-cart"><i></i>f.omarzade_92@yahoo.com</a>
            </div>
            @*<div class="product-overlay">
                    <div class="overlay-content">
                        <h2>خالی</h2>
                        <p>سفارش برای طراحی وبسایت</p>
                        <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
                    </div>
                </div>*@
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>C# یا C++</h2>
                <p>
                    ...با سلام

                    برای ارتقای سطح خدمات و گستره کار گروه نرم افزاری به فا در نظر دارد
                    خدمات دیگری شامل انجام پروژه های زبان های مختلف را نیز مورد پوشش قرار دهد لذا
                    تا تکمیل وبسایت اختصاصی گروه مختص پروژه های برنامه نویسی غیر وب از دوستان
                    تقاضا می گردد سفارشات مربوط به این زمینه را فعلا و موقتا از طریق همین سایت و صفحه
                    .ثبت سفارش مذکور نمایند
                    <br /><br /><br /><br /><br /><br />
                </p>
                <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
            </div>
            @*<div class="product-overlay">
                    <div class="overlay-content">
                        <h2>خالی</h2>
                        <p>سفارش برای طراحی وبسایت</p>
                        <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
                    </div>
                </div>*@
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>پروتکل سفارش ومنابع</h2>
                <p>...با سلام
                :در این قسمت به تعیین و شکل گیری کلی پروژه که توسط خود مشتری صورت میگیرد می پردازیم
                راز خدمات شرکت به فا در همین جا پنهان است که مشتری را به یک سری تکنولوژی ثابت و ایستا
                محدود نمیکند بلکه شعار به فا این است که همواره به روز باشیم برای همین مشتری مختار است تا
                از جدید ترین تکنولوژی روز برای طراحی سایت خود استفاده کند که هم اکنون خود همین وبسایت نیز
                .با استفاده از آخرین نسخه های ابزارطراحی سایت پیاده سازی شده است 
                    <br /><br />
                !!!ام وی سی پنج
                !!! اچ تی ام ال پنج
                ...       
                    <br /><br />
                </p>
                <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
            </div>
            @*<div class="product-overlay">
                    <div class="overlay-content">
                        <h2>خالی</h2>
                        <p>سفارش برای طراحی وبسایت</p>
                        <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
                    </div>
                </div>*@
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>سوالات متداول</h2>
                <p>...باسلام
                 دوستان گرامی سعی شده است تا جای ممکن نحوه انجام امور پشتیبانی شفاف باشد
               اما چون هیچ چیزی در این دنیا جز خداوند کامل نیست بنابراین حتما کاستی هایی
                در نحوه ارایه خدمات وجود دارد که از شما تقاضا داریم جهت بهود خدمات همه   
                کمبود هارا در قسمت مربوطه گوشزد فرمایید
<br /><br /><br /><br />
                    <br /><br /><br /><br />

                ...باتشکر





                    
                </p>
                <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
            </div>
            @*<div class="product-overlay">
                    <div class="overlay-content">
                        <h2>خالی</h2>
                        <p>سفارش برای طراحی وبسایت</p>
                        <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
                    </div>
                </div>*@
        </div>
       
    </div>
</div>
