@{
    Page.Title = "Title goes here";
    Layout = "~/Site/_LayoutHome.cshtml";
}

<div class="col-sm-4" style="width:75%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>آینده به فا</h2>
                <p>
                    آینده بعدی از هستی بشر است که در فراسوی لحظهٔ «حال» گسترش می‌یابد و همچون اصلی در انجام اقدامات در نظر گرفته می‌شود. این مفهوم برخورداری از طرح، اهداف، نیات، غایات و مفاهیم را برای آدمی به همراه می‌آورد. آینده مدت زمانی نا محدود پس از حال حاضر است که ورود به آن به دلیل وجود زمان و قوانین فیزیک اجتناب ناپذیر است. مفهوم آینده در علوم آینده‌پژوهی، فیزیک، فلسفه، روانشناسی و دین کاربرد دارد. همچنین در آثار هنری و ادبی مانند داستان‌ها و فیلم‌ها به‌کار برده‌می‌شود و یکی از آرزوهای بشر پیش‌بینی آینده می‌باشد.

                    آینده‌پژوهی ویرایش
                    حوزه آینده پژوهی حوزه پژوهشی پیچیده، پر دامنه و جهان‌گستری است که مسائل و مباحث پیش رو در آینده را کانون توجه و تمرکز اصلی خود قرار می‌دهد.

                    آینده‌نگری ویرایش
                    آینده نگری تقریباً معادل لفظ تدبیر است. تدبیر به معنای بررسی کردن عواقب کارها و مصالح را سنجیدن و بر طبق آن عمل کردن است.
                    <br /><br /><br />قدم های بعدی:

                    <br />
                </p>
                <a href="_ViewStart.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart">خانه...</i></a>
            </div>

        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>#C</h2>
                <p>
                    مقدمه سی شارپ:<br />سی شارپ (به انگلیسی: C#)، زبانی شیءگرا و سطح بالا از خانوادهٔ زبان‌های چارچوب دات‌نت شرکت مایکروسافت است.

                    زبان سی شارپ، یک زبان برنامه‌نویسی چند الگویی و است و منظم شده مدل‌های تابعی، امری، عمومی، شیءگرا و جز گرا و در بستر دات نت می‌باشد. این زبان توسط مایکروسافت و جزئی از دات نت به وجود آمد و بعداً استانداردهای ECMA و ISO را نیز در بر گرفت. سی شارپ یکی از ۴۴ زبان برنامه‌نویسی است که توسط زمان اجرای زبان مشترک از چارچوب دات‌نت پشتیبانی می‌شوند و در همه جا به وسیله مایکروسافت ویژوال استودیو شناخته می‌شود.

                    زبان سی شارپ با قدرت و در عین حال سطح بالایی خود توانسته توجه بسیاری از برنامه نویسان را به خود جلب کند.

                    این زبان برپایه سادگی، مدرن بودن، همه منظوره و شیءگرا بودن ساخته شد. آندرس هجلزبرگ، طراح زبان برنامه‌نویسی دلفی، سرپرستی تیم طراحان زبان سی شارپ را بر عهده داشت. این زبان دارای دستوری شیءگرا مشابه ++C است و به شدت از زبان‌های جاوا و دلفینیازمندمدرک تأثیر پذیرفته‌است. در ابتدا نام این زبان COOL بود که مخفف C like Object Oriented Language بود، هر چند در ژوئیه ۲۰۰۰، زمانی که مایکروسافت پروژه را عمومی اعلام کرد، اسم آن به سی شارپ تغییر پیدا کرد. آخرین نسخه آن نسخه ۵٫۰ است که همزمان با دات‌نت ۴٫۵ در اوت ۲۰۱۲ منتشر شد.
                </p>
                <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>#C</h2>
                    <p>منتظر وبسایت های تخصصی #Cباشید</p>
                    <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
                </div>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div><div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>++C</h2>
                <p>
                    مقدمه سی پلاس پلاس:
                    <br />
                    ++C (بخوانید سی پلاس‌پلاس) یک زبان برنامه‌نویسی رایانه‌ای همه‌منظوره، شیءگرا، سطح بالا و چندرگه (که از برنامه‌نویسی رویه‌ای، تجرید داده‌ها و برنامه‌نویسی شیءگرا پشتیبانی می‌کند)، عمومی و با قابلیت‌های سطح بالا و سطح پایین می‌باشد. این زبان دارای قابلیت‌های انواع داده ایستا، نوشتار آزاد، چندمدلی، معمولاً زبان ترجمه شده با پشتیبانی از برنامه‌نویسی ساخت‌یافته، برنامه‌نویسی شیءگرا، برنامه‌نویسی جنریک است. از آنجا که در سی++ اشیاء را می‌توان ابتدا به ساکن از کلاس‌هایی ایجاد کرد که به هیچگونه سلسله مراتب رده‌ها و وراثت مقید نیستند، لذا سی++ از برنامه‌سازی شیء بنیاد (object-based programming) نیز پشتیبانی می‌کند.[۱] ++C به همراه جد خود C از پرطرفدارترین زبان‌های برنامه‌نویسی تجاری هستند.

                    ++C یک زبان سطح میانی در نظر گرفته می‌شود؛ این زبان دارای قابلیت زبان‌های سطح بالا و پایین به‌صورت هم‌زمان است.

                    ++C توسط بی‌یارنه استراس‌تروپ ریاضیدان دانمارکی در سال ۱۹۷۹ در آزمایشگاه‌های بل (Bell Labs)، برای بهبود زبان سی و بر مبنای آن ساخته شد و آن را «C با کلاس» (C With Classes) نام‌گذاری نمود. در سال ۱۹۸۳ به ++C تغییر نام داد. توسعه با اضافه نمودن کلاس‌ها و ویژگی‌های دیگری مانند توابع مجازی، سربارگزاری عملگرها، وراثت چندگانه، قالب توابع، و پردازش استثناء انجام شد.

                </p>
                <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>++C</h2>
                    <p>منتظر وبسایت های تخصصی ++Cباشید</p>
                    <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
                </div>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>