@{
    Page.Title = "Title goes here";
    Layout = "~/Site/_LayoutHome.cshtml";
}

<div class="col-sm-4"style="width:75%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>قوانین</h2><br /><br />
                <p style="direction:rtl">
                    قوانین سایت :<br /><br /><br />
  1. این وب سایت تابع قوانین جمهوری اسلامی ایران می باشد.<br />
                    2. کپی مطلب از این وب سایت با ذکر منبع بلامانع است.<br />
                    3. نمایش مطالب هر عضو در سایت به معنای تایید آن نیست و
                     مسئولیت آن بر عهده خود نویسنده مطلب می باشد.<br />
                    4. علیرغم اینکه مدیریت سایت نیز می تواند نظرات را  ویرایش ، حذف و تایید کند  وظیفه اصلی  این کار بر عهده خود عضو می باشد.<br />
                    5. مدیریت سایت در حد امکان از ویرایش یا حذف مطالب ارسالی خودداری خواهد کرد ، مگر اینکه مطالب دارای کلمات رکیک ، محتوای ضد اسلامی و مغایر با محدوده تعیین شده در قوانین جمهوری اسلامی باشد.همچنین مطالب که توسط اعضا با نام مستعار درج می گردد در صورتی دارای بار حقوقی باشد ، ویرایش یا حذف خواهد شد.<br />
                    6. وظیفه کنترل نظرات بر عهده صاحب اکانت می باشد.<br />
                    7. مدیران سایت از بین اشخاصی که با نام حقیقی ثبت نام نموده و در سایت فعالیت می نمایند انتخاب می گردند.<br />
                    8. درقسمت اعضا تمامی اسامی کسانی که در سایت عضو شده اند موجود است و طریقه چینش اعضا بصورت عادلانه و بر طبق امتیاز می باشد. هر شخصی که امتیاز بیشتری داشته باشد بالاتر قرار خواهد گرفت این امتیاز از روی مقدار فعالیت شخص در سایت مشخص می گردد و بصورت نرم افزاری هر چند روز یک بار محاسبه می شود.
                    9. ثبت نام و فعالیت هر شخصی در سایت با هر زبان ، نژاد و محل سکونتی در سایت  آزاد است.<br />
                    10. توهین به هر شخص ،  نژاد ، قوم و زبانی در این سایت ممنوع می باشد.<br />
                    11. در  حد امکان از بحث ها تفرقه انگیز بین اقوام ایرانی و طرح مطالبی که موجب ایجاد تنش بین اعضای سایت می گردد خودداری شود.<br />
                    12. تمامی اعضا  باید توجه کافی را برای نگه داری از پسورد خود داشته باشند.<br />
                    13.  وب سایت در مورد حفظ مطالب ارسالی و اطلاعات هر عضو هیچ تضمینی نمی دهد ولی تمامی سعی خود را برای نگه داری این امانت خواهد کرد.<br />
                    14. مطالب گزیده هفته ، توسط خود اعضا انتخاب می شود. این انتخاب با استفاده از امتیاز دهی به هر مطلب انجام می گردد و مطالبی که در هفت روز گذشته بالاترین امتیار را داشته باشند ، در این قسمت نمایش داده می شوند.<br />
                    15.در صورتی که عضوی پیام های خصوصی رکیک دریافت کند باید ارسال کننده را در لیست سیاه قرار دهد. نباید پبام های خصوصی افراد را در قسمتهای عمومی سایت قرار دهد چرا که این کار تخلف محسوب شده و اکانت خود فرد مسدود خواهد شد.<br />
                </p><br /><br /><br /><br /><br />
                <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
            </div>
           
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>