@{
    Page.Title = "Title goes here";
    Layout = "~/Site/_LayoutHome.cshtml";
}



<div class="col-sm-4 sm-left">
    <div class="contact-info">
        <h2 class="title text-center"> درباره ما </h2>
        <address>
            <p class="font-family"> Domain Inc </p>
            <p class="font-family"> بهزاد باقری </p>
            <div class="col-sm-4" style="width:250px">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <!-- <img src="images/home/product2.jpg" alt="" />-->
                            <h2>behzad bagheri</h2>
                            <p>مدیر سایت</p>
                            <img src="~/images/11.png" alt="tasvir load nashod" />
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>behfa.com</h2>
                                <p>مدیر سایت</p>
                                <a href="~/images/بهزادباقری.pdf" class="btn btn-default add-to-cart"><i></i>رزومه</a>
                            </div>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <p class="font-family"> ارومیه-ایران </p>
           
            <p class="font-family">  موبایل :09142364578 </p>
            <p class="font-family"> فکس : </p>
            <p class="font-family">ایمیل: b.behzad_92@yahoo.com </p>
           



        </address>

        <div class="social-networks">
            <h2 class="title text-center"> شبکه های اجتماعی </h2>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
        </div>

        <address>
            <p class="font-family"> Domain Inc </p>
            <p class="font-family"> فرید عمرزاده </p>
            <div class="col-sm-4" style="width:250px">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <!-- <img src="images/home/product2.jpg" alt="" />-->
                            <h2>behfa.com</h2>
                            <p>مدیر سایت</p>
                            <img src="~/images/11.png" alt="tasvir load nashod" />
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>behzad</h2>
                                <p>مدیر سایت</p>
                                <a href="~/images/بهزادباقری.pdf" class="btn btn-default add-to-cart"><i></i>رزومه</a>
                            </div>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <p class="font-family"> ارومیه-ایران </p>

            
            <p class="font-family">  موبایل :00989375659364 </p>
            <p class="font-family">  فکس : </p>
            <p class="font-family">ایمیل: behzad@gmail.com </p>
        </address>

        <div class="social-networks">
            <h2 class="title text-center">شبکه های اجتماعی</h2>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>