@{
    Page.Title = "Title goes here";
    Layout = "~/Site/_LayoutHome.cshtml";
}

<div class="col-sm-4" style="width:25%;margin:25% ;margin-top:0 ;margin-bottom:0">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>پروژه های برنامه نویسی</h2>
                <p></p>
                <img src="~/images/logo.png" alt="aks yaft nashod" />
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>++C یا #C</h2>
                    <p></p>
                    <a href="_ViewStart.cshtml" class="btn btn-default add-to-cart"><i></i>صفحه اصلی</a>
                </div>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="col-sm-4" style="width:75%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>#C</h2>
                <p>
                    پروژه های سی شارپ:

                    <br /><br />
                    1-پروژه دیتابیس لیگ برتر .برای اعضا به همراه فایل های SQL
                    <a href="login.cshtml">ورود به سایت</a> @if (WebUser.IsAuthenticated)
                    {
                        <a href="https://www.adrive.com/public/YNCwtt/league(pasword%3DBehAfzar.com).rar" style="color:#ff6a00"> پروژه دیتابیس کامل به همراه فایل هایsql برای اعضا  @WebUser.Username</a>
                    }<br />
                    2-<a>پروژه دیتابیس نمونه</a><br />
                    3-<br />
                    4-<br />
                    5-<br />


                </p>

            </div>
            @*<div class="product-overlay">
                    <div class="overlay-content">
                        <h2>#C</h2>
                        <p>

                        </p>
                        <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش سی شارپ</a>
                    </div>
                </div>*@
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="col-sm-4" style="width:75%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>++C</h2>
                <p>
                    <br /><br />
                    پروژه های سی پلاس پلاس:<br />

                    1-تمرینات درس طراحی الگوریتم:<br />
                    <a href="https://www.adrive.com/public/35afWY/algorithm1.rar">بخش اول</a><br />
                    <a href="https://www.adrive.com/public/rpBPHW/algorithm2.rar">بخش دوم</a><br />
                    <a href="https://www.adrive.com/public/D6wMeT/algorithm3.rar"> بخش سوم</a><br />
                    2-روش مختلف پیاده سازی جست وجوی دودویی:<br />
                    <a href="https://www.adrive.com/public/xRJudC/binary.txt"> اول</a><br />
                    <a href="https://www.adrive.com/public/3zH528/binary%20(2).txt"> دوم</a><br />
                    <a href="https://www.adrive.com/public/HWJFm4/binary3.txt">سوم</a><br />
                    3- <a href="https://www.adrive.com/public/Y4Fw6V/floyd%201.txt"> فلوید</a><br />
                    4-<a href="https://www.adrive.com/public/3Ep7hr/fibonaji.txt"> فیبوناجی</a><br />
                    5-برای اعضا<a href="login.cshtml">ورود به سایت</a> @if (WebUser.IsAuthenticated)
                    {
                        <a href="https://www.adrive.com/public/Dd23dS/algorithm.rar" style="color:#ff6a00"> همه تمرینات یکجا برای اعضا @WebUser.Username</a>
                    }



                </p>

            </div>
            @*<div class="product-overlay">
                    <div class="overlay-content">
                        <h2>++C</h2>
                        <p></p>
                        <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> سفارش سی پلاس پلاس</a>
                    </div>
                </div>*@
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4" style="width:75%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>دیگر</h2>
                <p>


                    <br /><br />

                    1-<a href="https://www.adrive.com/public/fPhdMd/lights.rar">بازی ساده فکری طراحی شده توسط گروه</a><br />
                    2-<a href="http://behnegar1994.mihanblog.com/extrapage/6">بفرما خنده</a><br />
                    3-<a href="http://behnegar1994.mihanblog.com/">وبلاگ گروه</a><br />

                </p>

            </div>
            @*<div class="product-overlay">
                    <div class="overlay-content">
                        <h2>#C</h2>
                        <p>

                        </p>
                        <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش سی شارپ</a>
                    </div>
                </div>*@
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>