
@{
    Page.Title = "Title goes here";
    Layout = "~/Site/_LayoutHome.cshtml";
}

<div class="col-sm-4" style="width:75%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>مزایا</h2><br />
                <p><br />
                    از مزایای طراحی وب سایت می توان به موارد زیر اشاره کرد:<br /><br />

                    وجود وب سایت ، اعتبار کسب و کار شما را افزایش می دهد.
                    مشتریان و مراجعه کنندگان می توانند در هر زمان و هر مکان با شما ارتباط برقرار کنند.
                    تغییرات انجام شده در محصولات و خدمات به سرعت به اطلاع دیگران می رسد.
                    وب سایت، یک پایگاه تبلیغاتی فوق العاده قدرتمند است.
                    فروش محصولات و ارائه خدمات از طریق اینترنت هزینه ها را به شدت کاهش می دهد.
                    وب سایت می تواند نمایشی از قدرت و دقت کسب و کار در اینترنت باشد.
                    یک وب سایت خوب مانند یک شعبه بین المللی برای معرفی کالا و خدمات ارائه شده می باشد.
                    دسترسی آسان کاربران از هر نقطه جهان تنها با داشتن آدرس سایت شما.
                    به روز رسانی آسان و کم هزینه (در سایت های داینامیک بدون صرف هزینه و زمان زیاد) در مقایسه با تبلیغات چاپی و ...
                    یک وب سایت با کارایی خوب می تواند : منشی ، فروشنده ، بازاریاب ، کارشناس مجازی و ... باشد که به صورت خودکار زیر نظر یک مدیر ، کلیه این عملیات را انجام دهد.
                    سادگی ارتباط با مخاطبان خاص و عام.
                    بهره گيري از رسانه وسيع تبليغی .
                    وب سایت تائیر قوی بر اعتماد مشتری های بالقوه دارد. یک طراحی حرفه ای سایت، متن مناسب با نوشتار خوب، اطلاعات مفید از محصولات و اطلاعات تماس مناسب باعث افزایش اعتماد مشتریان به شرکت شما می شود و به مردم می فهماند که شما دارای دانش و به روز هستید.
                    وب سایت دفتر کار دوم شماست که توانایی پاسخگویی به تعداد بی شمار مشتریان شما را ٢٤ ساعته و هفت روز هفته دارد.
                    اگر برای نمایش محصولات خود ، فضای فیزیکی کافی ندارید، یک وب سایت میتواند تمامی محصولات شما را به همراه عکس های مختلف ، توضیحات ، کاتالوگ و ... به نمایش بگذارد.
                    شما می توانید از طریق عضوگیری در وب سایت ، اطلاعات مشتریان و کاربران را جمع آوری نموده و به روش های مختلف از آنها استفاده نمایید.
                    فروش کالا و خدمات بصورت مستقیم از طریق وب سایت ، باعث حذف واسطه ها و در نتیجه پایین آمدن قیمت برای مصرف کننده می شود.
                    پایین بودن هزینه ی طراحی سایت نسبت به سایر روش های تبلیغاتی نظیر تبلیغات چاپی، بیلبورد و ...<br />
                    
                    تاثیر سایت در اطلاع رسانی:<br />

                    داشتن یک سایت مانند داشتن یک کاتالوگ است اما با مزایای فراوان دیگر. یک کاتالوگ می تواند شامل تصاویر و متون باشد اما یک سایت میتواند از تصاویر، متون، فیلم و صوت و یا انیمیشن نیز بهره بگیرد بنابر این امکان اطلاع رسانی جامع با محتوایی جذاب تر را می دهد. برای طراحی، چاپ و انتشار هر نسخه از کاتالوگ نیاز به هزینه است اما برای طراحی یک سایت داینامیک فقط کافیست هزینه ای اولیه برای طراحی و نگهداری آن پرداخت شود و بعد از آن شما می توانید بینهایت صفحه ایجاد کنید که  هزاران و یا میلیونها کاربر از جاهای مختلف جهان می توانند بارها و بارها از آن ها بازدید کنند.



                    تاثیر سایت در بازاریابی:

                    موتورهای جستجو بدون هزینه برای شما بازاریابی می کنند فقط کافیست رباتهای آنها سایت شما را پیدا کنند و از آن پس زمانی که فردی به دنبال هر یک از خدمات و یا محصولات و یا اطلاعات ارائه شده در سایت شما باشد، این موتورها فرد را به سمت سایت شما هدایت می کنند. میزان بازدید کننده هدایت شده به سایت به پارامترهای زیادی وابسته است اما در بدترین حالت چیزی در حدود 50 نفر در روز توسط موتورهای جستجو به یک سایت هدایت می شوند.



                    در دسترس بودن:

                    سایت شما با متقاضیان اطلاعات و محصولات یا خدمات فقط یک کلیک فاصله دارد و در تمامی ساعات شبانه روز و روزهای تعطیل نیز فعال است.
                </p><br /><br /><br /><br />
                <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> سفارش وبسایت شما</a>
            </div>
           
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>