@{
    Page.Title = "Title goes here";
    Layout = "~/Site/_LayoutHome.cshtml";
}

<div class="col-sm-4" style="width:80%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>ارومیه</h2>
                <p>
                    اُرومیّه <br /> یکی از کلان‌شهرهای ایران، مرکز استان آذربایجان غربی و شهرستان ارومیه در شمال غربی ایران که در منطقه آذربایجان واقع شده است. این شهر طبق سرشماری سال ۱۳۹۰ با ۶۶۷٬۴۹۹ نفر جمعیت، دهمین شهر پرجمعیت ایران و دومین شهر پرجمعیت منطقهٔ شمال‌غرب ایران به‌شمار می‌آید. ارومیه با ۱۳۳۲ متر ارتفاع در غرب دریاچه ارومیه، در دامنه کوه سیر و ودر میان دشت ارومیه قرار گرفته است. هوای ارومیه در تابستان نسبتاً گرم ودر زمستان سرد می‌باشد.

                    ارومیه با بیش از ۳ هزار سال قدمت قدیمی‌ترین شهر در منطقهٔ شمال‌غرب ایران به‌شمار می‌آید که هنوز پابرجا است. از این رو ارومیه به عنوان ۱۹ شهر تاریخی ایران در یونسکو ثبت شده است. برخی مورخان ارومیه را زادگاه زردشت می‌دانند. در سده‌های گذشته حوادث متعددی از قبیل اشغال توسط عثمانی‌ها و روس‌ها را تجربه کرده است. این شهر به سبب موقعیت مناسب که در میان شاه‌راه ارتباطی قفقاز، میان‌رودان و آسیای صغیر داشته در گذشته از مراکز تجاری منطقه به شمار می‌رفته است. نقل مهمترین سوغات ارومیه است.

                    ارومیه به عنوان شهر دارای اولین بیمارستان به شیوه نوین، اولین مرکز آموزش پزشکی، اولین مدرسه به شیوه نوین، اولین شبکه تلویزیون محلی، اولین نشریه محلی در ایران، پایتخت والیبال ایران، دومین شهر پرترافیک ایران شناخته می‌شود. دارالنشاط ، پاریس ایران ، شهر آب ، شهر ادیان، مذاهب و اقوام از القاب ارومیه است. ارومیه مدتی در دوره پهلوی به رضائیه تغییر نام داد.

                </p>
                <a href="https://fa.wikipedia.org/wiki/%D8%A7%D8%B1%D9%88%D9%85%DB%8C%D9%87" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart">بیشتر</i></a>
            </div>

        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4" style="width:24%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
               
                <p>


                   <img src="~/images/3.jpg" style="width:100%;height:100%" />
                </p>
               
            </div>
           
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4" style="width:30%;height:5%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                
                <p>
                    <img src="~/images/2.jpg" style="width:100%;height:100%" />
                   
                </p>
               
            </div>
           
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4" style="width:24%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
               
                <p>


                    <img src="~/images/1.jpg" style="width:100%;height:100%" />
                </p>
               
            </div>
          
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4" style="margin-left:20px;margin-top:auto;margin:50px;width:40%;height:5%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>دانشگاه تبریز</h2>
                <p>
                    <img src="~/images/t.jpg" style="width:100%;height:100%" />
                </p>
                
            </div>
           
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4" style="width:30% ;height:60%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>دانشگاه صنعتی ارومیه</h2>
                <p>
                    <img src="~/images/uut.jpg" style="width:100%;height:100%" />
                </p>
               
            </div>
            
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>



