@{
    Page.Title = "Title goes here";
    Layout = "~/Site/_LayoutHome.cshtml";
}
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>توضیحات</h2>
                <p>
                    وب سایت چیست؟

                    وب سایت چیست؟ وب سایت اصطلاحا به مکانی در اینترنت گفته می شود که یک صفحه یا تعداد بیشتری از صفحات را در خود جا داده است. به بیان دیگر به مجموعه ای از صفحات در اینترنت که متعلق به مکان خاصی هستند، اصطلاحا وب سایت گفته می شود.

                    محتویات وب سایت ها عموما بر روی کامپیوتری به نام سرور قرار دارد و مجموعه ای از سرورها، شبکه جهانی وب را تشکیل می دهند. هر سرور می تواند یک یا تعداد بیشتری از سایت ها را درون خود جای دهد.

                    همانند دنیای واقعی که هر انسانی برای خود یک نام منحصر بفردی دارد، در دنیای مجازی یا اینترنت نیز اوضاع به همین منوال است. هر سرور ( یا کامپیوتر) برای آنکه از سرورهای دیگر متمایز شود و نیز هر وب سایت برای آنکه از وب سایت های دیگر متمایز شود، توسط یک شماره شناسایی منحصر بفرد یا IP مشخصی می شود.
                    سرور چیست؟
                    همانطور که گفته شد، یک سایت، از چندین صفحه تشکیل می شود. تنها سوالی که در اینجا مجهول است آنست که یک صفحه، از چه چیزی تشکیل می شود و چطور می توان آن را ساخت؟

                    در حالت عمومی، یک صفحه اینترنتی، چیزی فراتر از یک فایل کامپیوتری که در کامپیوتر سرور قرار گرفته است، نمی باشد. این فایل برای آنکه به درستی روی مرورگر شما نشان داده شود، نیاز دارد تا از قوانینی تبعیت کند. و آن قوانین، همان کدهای HTML می باشند. کدهای HTML، سنگ بنای هر صفحه اینترنتی می باشد و سوای از اینکه واقعا از چه زبانی برای برنامه نویسی و طراحی صفحه صفحه اینترنتی استفاده شده باشد، بر ماهیت وجودی و محوری زبان HTML تاثیری نمی گذارد.
                </p><br /><br /><br /><br /><br />
                <a href="register.cshtml" class="btn btn-default add-to-cart"><i ></i>عضویت</a>
            </div>
           
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>اهداف</h2>
                <p><br /><br /><br /><br />
                   
                 باسلام...
                    <br /><br />                 اهداف ما: <br /><br />زایقه مشتری در مرتبه اول<br />
                 تجربیات ما در راستای نیل به اهداف<br />
                انتقال درست اطلاعات کنترلی به مشتری<br />
                    قرار دادن مطالب، محصولات و فایل های آموزش<br />
                    سایت ما یک سایت خصوصی می باشد<br />
                    سایت جهت ارائه خدماتی مشخص<br />
                    احترام گذاشتن به حقوق همدیگر جهت پیشرفت<br />
                    رضایت کاربران<br />
                افزایش حضور صتعت در فضای مجازی<br />
                کمک به درآمد های عمومی<br />
                کاهش استفاده از وسایل نقلیه<br />
                انجام آسان امور<br />
                تلفیق سادگی وزیبایی<br />
                واکنش گرایی مفید سایت<br />
                الگوقرار دادن بهترین ها<br />
                استفاده از توان مجازی کشور<br />
                ...<br />
                </p><br /><br /><br /><br /><br />
                <a href="~/Order/order.cshtml" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>سفارش</a>
            </div>
           
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
