@{
    Page.Title = "Title goes here";
    Layout = "~/Site/_LayoutHome.cshtml";
}

<div class="col-sm-4" style="width:80%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <video id="video1"  controls="">
                    <source src="~/images/make-payline[mrprogrammer.ner].m4v" type="video/mp4">
                    <source src="~/images/make-payline[mrprogrammer.ner].mp4" type="video/mp4">
                    <source src="~/images/make-payline[mrprogrammer.ner].webm" type="video/webm">
                    <source src="~/images/make-payline[mrprogrammer.ner].ogg" type="video/ogg">

                </video>
               
            </div>

        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4" style="width:30%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
            <h6> آموزش تصب اکلیپس</h6>
                <p>


                    <video id="video1" width="360" height="296" controls="">
                        <source src="~/images/01_06_eclipsewin.m4v" type="video/mp4">
                        <source src="~/images/01_06_eclipsewin.mov" type="video/mp4">
                        <source src="~/images/01_06_eclipsewin.webm" type="video/webm">
                        <source src="~/images/01_06_eclipsewin.ogg" type="video/ogg">

                    </video>
                </p>

            </div>

        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div><div class="col-sm-4" style="width:30%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->

                <h6> آموزش تصب اکلیپس</h6>
                <p>


                    <video id="video1" width="360" height="296" controls="">
                        <source src="~/images/01_06_eclipsewin.m4v" type="video/mp4">
                        <source src="~/images/01_06_eclipsewin.mov" type="video/mp4">
                        <source src="~/images/01_06_eclipsewin.webm" type="video/webm">
                        <source src="~/images/01_06_eclipsewin.ogg" type="video/ogg">

                    </video>
                </p>
            </div>

        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4" style="width:30%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->

                <h6> آموزش تصب اکلیپس</h6>
                <p>


                    <video id="video1" width="360" height="296" controls="">
                        <source src="~/images/01_06_eclipsewin.m4v" type="video/mp4">
                        <source src="~/images/01_06_eclipsewin.mov" type="video/mp4">
                        <source src="~/images/01_06_eclipsewin.webm" type="video/webm">
                        <source src="~/images/01_06_eclipsewin.ogg" type="video/ogg">

                    </video>
                </p>

            </div>

        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>