@{
    Page.Title = "Title goes here";
    Layout = "~/Site/_LayoutHome.cshtml";
}

<div class="col-sm-4" style="width:75%">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <!-- <img src="images/home/product2.jpg" alt="" />-->
                <h2>سایت شما</h2>
                <p>
                    مجموعه کاملی از فرآیندها و تکنولوژی‌ها برای مدیریت ارتباط با مشتریان فعلی و بالقوه و دست اندرکاران کسب و کار در بازاریابی، فروش و خدمات، صرف نظر از نوع مسیرهای ارتباطی با مشتریان.

                    مدیریت ارتباط با مشتریان یک راهبرد تجاری جهت انتخاب و مدیریت مشتریان برای بهینه کردن و بالا بردن ارزش شرکت و همچنین فروش در دراز مدت است. مدیریت ارتباط با مشتری، استراتژی جامع کسب و کار و بازاریابی است که فناوری، فرآیندها و تمامی فعالیتهای کسب و کار را حول مشتری یکپارچه می‌سازد.

                    مدیریت ارتباط با مشتری یک نظام اطلاعاتی یک پارچه است که برای برنامه ریزی، زمان‌بندی و کنترل فعالیت‌های قبل و بعد از فروش سازمان و با هدف توانمند سازی مشتریان جهت تعامل با سازمان از طریق ابزارهای متعددی چون وب سایت، تلفن و غیره به کار می‌رود.
                    <br />
                    <br /><br />
                </p>
                <a href="contact.cshtml" class="btn btn-default add-to-cart"><i ></i>نظر بدهید</a>
            </div>
            <div class="product-overlay">
              
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <!--  <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
            </ul>
        </div>
    </div>
</div>