<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <sessionState timeout="3" cookieless="AutoDetect"/>

    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
    <customErrors mode="On" defaultRedirect="~/Errors/errorGeneral.cshtml">
      <error statusCode="403" redirect="~/Errors/error403.cshtml"/>
      <error statusCode="404" redirect="~/Errors/error404.cshtml"/>
      <error statusCode="500" redirect="~/Errors/error500.cshtml"/>
    </customErrors>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=parham;Database=Simplecms;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="StarterSite" connectionString="Data Source=|DataDirectory|\StarterSite.sdf" providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Enabled" value="true"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="PostHandler"/>
      <add name="PostHandler" type="PostHandler" verb="POST" path="/admin/post.ashx"/>
      <remove name="TagHandler"/>
      <add name="TagHandler" type="TagHandler" verb="POST" path="/admin/tag.ashx"/>
      <remove name="AccountHandler"/>
      <add name="AccountHandler" type="AccountHandler" verb="POST" path="/admin/account.ashx"/>
      <remove name="RoleHandler"/>
      <add name="RoleHandler" type="RoleHandler" verb="POST" path="/admin/role.ashx"/>
      <remove name="RegisterHandler"/>
      <add name="RegisterHandler" type="RegisterHandler" verb="POST" path="/register.ashx/"/>
      <remove name="ContactHandler"/>
      <add name="ContactHandler" type="ContactHandler" verb="POST" path="/contact.ashx"/>
      <remove name="CommentHandler"/>
      <add name="CommentHandler" type="CommentHandler" verb="POST" path="/admin/comment.ashx"/>
      <remove name="ContactAdminHandler"/>
      <add name="ContactAdminHandlerr" type="ContactAdminHandler" verb="POST" path="/admin/contact.ashx/"/>

      <remove name="adminOrderHandler"/>
      <add name="adminOrderHandler" type="adminOrderHandler" verb="POST" path="/admin/order.ashx"/>
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
</configuration>